
<html>

<head>

	<!-- seo related -->
	<title>BATBOT</title>

	<!-- meta related -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<!-- vendor css & style files -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300|Open+Sans:300|Oxygen|Material+Icons"
		rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<!-- custom css -->
	<link rel="stylesheet" type="text/css" href="static/main.css">

</head>

<body>

	<div class="container">

		<div class="row padded_row">

			<!-- right side content -->
			<div class="col-md-9">

				<div class="chat_window">

					<div class="top_menu">
						<div class="title">ChatBot - BATBOT</div>
					</div>

					<!-- dynamically rendered -->
					<ul class="messages"></ul>

					<!-- input -->
					<div class="bottom_wrapper">
						<input id="msg_input" placeholder="Say Hi to begin chat..." required="true" />
						<div id="send_button" class="app_button_1">Send</div>
                        <div id="clear_button" class="app_button_2">Clear</div>
					</div>

				</div>

			</div>

			<!-- left side content -->
			<div class="col-md-3">
				<div class="chat_window">

					<div class="top_menu">
						<div class="title">Help</div>
					</div>

					<!-- help container -->
					<div class="panel-group" id="accordion">

						<!-- help - 1 -->
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
										href="#collapse1">WHOAMI?</a>
								</h4>
							</div>
							<div id="collapse1" class="panel-collapse collapse in">
								<div class="panel-body">
									BATBOT is an AI language model designed to assist with various tasks such as answering questions, generating text, and providing information on a wide range of topics.
								</div>
							</div>
						</div>

					</div>

				</div>
			</div>

		</div>
        
	</div>

	<!-- vendor script files -->
	<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


	</script>

	<!-- custom scripts -->
	<script src="static/main.js"></script>
</body>

</html>